.navbar {
    position: fixed;
    width: 98%;
    z-index: 2;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    font-size: max(2vh, 1vw);
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    height: 100%;
    width: 10%;
    text-align: center;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .nav-item:first-child{
    margin-right: auto;
    width: 20%;
    text-align: left;
    padding-left: 1%;
  }
  .nav-item:last-child{
    padding-right: 1%;
  }